certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
Flask==2.1.1
Flask-Cors==3.0.10
ibm-cloud-sdk-core==3.15.1
ibm-watson==6.0.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
nodejs==0.1.1
npm==0.1.1
npx==0.1.1
numpy==1.22.3
optional-django==0.1.0
PyJWT==2.3.0
pymongo==4.1.1
python-dateutil==2.8.2
python-dotenv==0.20.0
react==4.3.0
requests==2.27.1
six==1.16.0
urllib3==1.26.9
websocket-client==1.1.0
Werkzeug==2.1.1
zipp==3.8.0
