/* body part 1 css */
.banner{
    height: 421px;
    background-color: green;
}
.banner .w{
    height: 421px;
    background-color: pink;
}
.subnav{
    width: 190px;
    height: 421px;
    background: rgba(0,0,0,0.3);    /* background color half look through*/
}
.subnav ul li{
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}
.subnav ul li a{
    font-size: 14px;
    color: aliceblue;
}
.subnav ul li a span{
    float: right;
}
.subnav ul li a:hover{
    color: blue;
}